.error-skeleton {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .error-icon {
    font-size: 30px;
    margin-right: 10px;
  }
  
  .error-message {
    font-size: 18px;
    font-weight: bold;
  }
  